#MANGO {
    height: 200 ;
    width: 400;
}
#welcometext {
    font-family: "Prompt", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
}
p {
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
  }
 .card {
border-color: white;
border: 20px;
border-width: 20px;
background-color: rgb(255, 255, 255);
    margin-right: auto;
    margin-left: auto;  
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    border-radius: 5px;
    backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;

transition: 0.5s;
  }
  .card:hover {
    border-color: white;
    border: 20px;
    border-width: 20px;
    background-color:#6f4ebd;
    scale: 105%;
    transition: 0.5s;
      }
  body {
    background-image: url(https://i.makeagif.com/media/11-20-2018/ym0paA.gif);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .card-text {
    font-family: "Prompt", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: black;
  }
  .card-title {
    font-family: "Prompt", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: black;
  }
  #mainpic {
    width: 400px;
    height: 400px;
  }
  .navbar {
    background:none
    transition: 0.5s;
  }
  .navbar:hover {
    opacity: 100%;
    transition: 0.5s;
  }
  .nav-link {
    font-family: "Prompt", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    outline: black;
  }
  
  

